In [2]:
import pandas as pd

In [40]:
df = pd.read_csv("Data1.csv")
df

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN
7       NaN          NaN        NaN    NaN

In [43]:
df.head()

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain

In [5]:
df.tail()

       Days  Temperature  Windspeed  Event
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN
7       NaN          NaN        NaN    NaN

In [6]:
df.shape

(8, 4)

In [7]:
df.columns

Index(['Days', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [9]:
df = df[2:5]

In [10]:
df

       Days  Temperature  Windspeed Event
2  1/3/2017         28.0        2.0  Snow
3  1/4/2017         24.0        7.0  Snow
4  1/5/2017         32.0        4.0  Rain

In [11]:
df.Days

2    1/3/2017
3    1/4/2017
4    1/5/2017
Name: Days, dtype: object

In [12]:
df.Temperature

2    28.0
3    24.0
4    32.0
Name: Temperature, dtype: float64

In [13]:
df['Days']

2    1/3/2017
3    1/4/2017
4    1/5/2017
Name: Days, dtype: object

In [14]:
df[['Days',"Temperature"]]

       Days  Temperature
2  1/3/2017         28.0
3  1/4/2017         24.0
4  1/5/2017         32.0

In [15]:
type(df['Days'])

pandas.core.series.Series

In [16]:
type(df[['Days','Temperature']])

pandas.core.frame.DataFrame

In [17]:
df.Temperature.max()

32.0

In [18]:
df['Temperature'].max()

32.0

In [19]:
df.Temperature.min()

24.0

In [20]:
df['Temperature'].min()

24.0

In [21]:
df['Temperature'].sum()

84.0

In [22]:
df['Temperature'].std()

4.0

In [23]:
df['Temperature'].mean()

28.0

In [24]:
df['Temperature'].mode()

0    24.0
1    28.0
2    32.0
dtype: float64

In [25]:
df['Temperature'].median()

28.0

In [26]:
df.describe()

       Temperature  Windspeed
count          3.0   3.000000
mean          28.0   4.333333
std            4.0   2.516611
min           24.0   2.000000
25%           26.0   3.000000
50%           28.0   4.000000
75%           30.0   5.500000
max           32.0   7.000000

In [27]:
df.Temperature>32

2    False
3    False
4    False
Name: Temperature, dtype: bool

In [28]:
df[df.Temperature>32]
df

       Days  Temperature  Windspeed Event
2  1/3/2017         28.0        2.0  Snow
3  1/4/2017         24.0        7.0  Snow
4  1/5/2017         32.0        4.0  Rain

In [29]:
df[df.Temperature] = df.Temperature>32

In [30]:
df

       Days  Temperature  Windspeed Event   28.0   24.0   32.0
2  1/3/2017         28.0        2.0  Snow  False  False  False
3  1/4/2017         24.0        7.0  Snow  False  False  False
4  1/5/2017         32.0        4.0  Rain  False  False  False

In [31]:
df[df.Temperature] = df.Temperature>=32

In [32]:
df

       Days  Temperature  Windspeed Event   28.0   24.0  32.0
2  1/3/2017         28.0        2.0  Snow  False  False  True
3  1/4/2017         24.0        7.0  Snow  False  False  True
4  1/5/2017         32.0        4.0  Rain  False  False  True

In [33]:
df[df.Temperature] = df.Temperature>=32

In [34]:
df.Temperature

2    28.0
3    24.0
4    32.0
Name: Temperature, dtype: float64

In [35]:
df[df.Temperature == df.Temperature.max()]

       Days  Temperature  Windspeed Event   28.0   24.0  32.0
4  1/5/2017         32.0        4.0  Rain  False  False  True

In [38]:
df[df.Temperature==df.Temperature.max()]

       Days  Temperature  Windspeed Event   28.0   24.0  32.0
4  1/5/2017         32.0        4.0  Rain  False  False  True

In [39]:
df[df.Temperature] == df['Temperature'].max()

    28.0   24.0   32.0
2  False  False  False
3  False  False  False
4  False  False  False

In [45]:
df['Days'][df.Temperature == df["Temperature"].max()]

1    1/2/2017
Name: Days, dtype: object

In [46]:
df[['Days','Temperature']][df.Temperature == df['Temperature'].max()]

       Days  Temperature
1  1/2/2017         35.0

In [48]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [49]:
df.set_index("Days")

          Temperature  Windspeed  Event
Days
1/1/2017         32.0        6.0   Rain
1/2/2017         35.0        7.0  Sunny
1/3/2017         28.0        2.0   Snow
1/4/2017         24.0        7.0   Snow
1/5/2017         32.0        4.0   Rain
1/6/2017         32.0        2.0  Sunny
NaN               NaN        NaN    NaN
NaN               NaN        NaN    NaN

In [50]:
df.loc['1/1/2017']

KeyError: '1/1/2017'

In [51]:
df.set_index('Days',inplace=True)

In [52]:
df.loc['1/1/2017']

Temperature      32
Windspeed         6
Event          Rain
Name: 1/1/2017, dtype: object

In [53]:
df.reset_index(inplace=True)

In [54]:
df

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN
7       NaN          NaN        NaN    NaN